body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#stockTable {
  overflow-x: scroll;
}


th {
  min-width: 120px;
  text-align: left;
}

#form1 {
  display:none;
}
  
table, td, th, tr {
  border: 1px solid black;
  border-collapse: collapse;
}



#Aro {
    
}

.doc {
  
  
}

#stockTable {
  position: relative;
  border-top: 2px dotted #FB8B1E;
  padding-top: 40px;
  border-bottom: 2px dotted #FB8B1E;
  padding-bottom: 50px;
}

#stockTable:before {
  
  position: absolute;
  border-top: 2px dotted #FB8B1E;
  border-bottom: 2px dotted #FB8B1E;
  width: 800%;
  left: 0px;
  top : 1px;
  bottom: 4px;
  
}
#stockTable:after {
  position: absolute;
  border-top: 2px dotted #FB8B1E;
  width: 800%;
  left: 0px;
  top : 4px;
  bottom: 1px;
  border-bottom: 2px dotted #FB8B1E;
  
}

input { 
  text-align: center; 
}

#clock {
  display: block;
  position: relative;
  left:px;
  border: solid #FB8B1E 10px;
  padding: 5px;
  padding-left: 8px;
  text-align: center;
  margin-top: 20px;
  float: right;
}

#spacer {
  content: "";
  float:right;
  display:block;
}

#clock:before {
  content:"";
  position: absolute;
  width: 100%;
  border-top: solid .25px black;
  left:0px;
  top: 0px;
  bottom: 0px;
  border-left: solid .25px black;
  left: 0px;
  border-right: solid .25px black;
  right: 0px;
  border-bottom: solid .25px black;
}

.emptyDiv {
  width: 100%;
  position: absolute;
  border-top: 2px dotted #FB8B1E;
  margin-top: 50px;
  left: 0
}





.none span{
  content: "";
  display: inline-block;
  vertical-align: -12%;
  height: 2ex;
  width: 2ex;
  background-color: white;
  border: 1px solid rgb(166, 166, 166);
  border-radius: 4px;
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.25);
  margin-right: 0.5em;
}




.green span:first-child:before {
  content: "";
  display: inline-block;
  vertical-align: -12%;
  height: 2ex;
  width: 2ex;
  background-color: #9fdfbf;
  border: 1px solid rgb(166, 166, 166);
  border-radius: 4px;
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.25);
  margin-right: 0.5em;
}
.green span:nth-child(2):before {
  content: "";
  display: inline-block;
  vertical-align: -12%;
  height: 2ex;
  width: 2ex;
  background-color: white;
  border: 1px solid rgb(166, 166, 166);
  border-radius: 4px;
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.25);
  margin-right: 0.5em;
}

.red span:first-child:before {
  content: "";
  display: inline-block;
  vertical-align: -12%;
  height: 2ex;
  width: 2ex;
  background-color: white;
  border: 1px solid rgb(166, 166, 166);
  border-radius: 4px;
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.25);
  margin-right: 0.5em;
}
.red span:nth-child(2):before {
  content: "";
  display: inline-block;
  vertical-align: -12%;
  height: 2ex;
  width: 2ex;
  background-color: #ff6666;
  border: 1px solid rgb(166, 166, 166);
  border-radius: 4px;
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.25);
  margin-right: 0.5em;
}

.wrapper {
  display: block;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /* top layer */
  z-index: 9999;
}

.overlay {
  display: none;
  position: fixed;
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.7);
  /* middle layer, i.e. appears below the sidebar */
  z-index: 998;
  opacity: 0;
  /* animate the transition */
  transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
  display: block;
  opacity: 1;
}

#dismiss {
  width: 35px;
  height: 35px;
  position: absolute;
  /* top right corner of the sidebar */
  top: 10px;
  right: 10px;
}